language: nix

env:
  - HC=ghc822
  # - HC=ghc844 # upstream issues
  - HC=ghc865

before_install:
  - curl https://raw.githubusercontent.com/monadfix/nix-cabal/master/nix-cabal -o nix-cabal && chmod u+x nix-cabal
  - travis_retry ./nix-cabal v2-update

script:
  - ./nix-cabal v2-test shower-tests

cache:
  directories:
    - ~/.cabal
    - ~/.ghc
